<%= prompt(@tally) %>

<p>Turns Left: <%= @tally.turns_left %></p>
<p><%= word_so_far(@tally) %></p>

<%= if game_over?(@tally) do %>
  <%= button "Play Again?", to: hangman_path(@conn, :new_game) %>
<% else %>
  <%= form_for(@conn, hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn f ->%>
    <%= text_input(f, :guess, autofocus: true) %>
    <%= submit("Make a Guess") %>
  <% end) %>
<% end %>
