<h2><%= prompt(@tally) %></h2>

<p>Turns Left: <%= @tally.turns_left %></p>
<p>Word So Far: <%= word_so_far(@tally) %></p>

<%= form_for(@conn, hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn f ->%>
  <%= text_input(f, :guess, autofocus: true) %>
  <%= submit("Make a Guess") %>
<% end) %>

<pre><%= inspect @tally %></pre>
